.homepage-bg {
    background-image: url(http://img04.deviantart.net/ff5a/i/2010/196/3/d/jousting___knight_52_by_axy_stock.jpg);
}
.homepage-welcome {
    text-align: center;
    color: white;
    h1 {
        font-size: 57px;
        text-align: center;
        text-shadow: 1px 1px 20px rgba(0,0,0,0.75);
    }
}
