table.table.events {
  thead {
    tr {
      th.calendar-date-col {
        width: 60px;
      }
    }
  }
}
.badge {
  &.date {
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 22px;
    > .month {
      display: block;
      font-size: 15px;
    }
  }
}
