/**
 * Sidebar
 */

@import '../../../styles/Variables';
@import '../../../styles/Mixins';

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-wd;
  overflow-y: auto;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  background-color: $sidebar-bg;
  color: rgba(255,255,255,.75);
  z-index: 20;

  // link colors in sidebar
  a.sb-link {
    color: rgba(255,255,255,.75);
    text-decoration: none;
  }
}

// Sidebar header with brand logo
.sidebar-header {
  height: $sidebar-header-hg;
  // background-color: $sidebar-header-bg;
  padding: 0 16px;
  box-shadow: $sidebar-header-shadow;
  > .sidebar-header-logo {
    display: inline-block;
    height: 100%;
    line-height: $sidebar-header-hg;
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    letter-spacing: .023em;
    > img,
    > svg {
      display: block;
      height: 100%;
      padding: 10px;
    }
    > svg {
      fill: #fff;
      width: 45%;
    }
  }
  > .sidebar-header-logo-text {
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
  }
}

// moves the scroll bar to the sidebar (below the header)
.sidebar-header + .sidebar-content {
  height: calc(100% - #{$sidebar-header-hg});
  overflow: auto;
}

// white background needs a soft border
.sidebar-content {
  border-right: 1px solid rgba(0,0,0,.11);
}

// offcanvas setup

.sidebar-container {
  @include translate3d(-100%, 0, 0);
  @include transition-transform(.28s ease-in-out);
  will-change: transform;
  @media #{$min-desktop} {
    @include translate3d(0, 0, 0);
  }
}

// backdrop to hide main content and dismiss sidebar
.sidebar-layout-obfuscator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  will-change: opacity;
  @include transition("opacity .28s ease-in-out, visibility .28s ease-in-out");
  @media #{$min-desktop} {
    display: none;
  }
}

@media #{$max-tablet} {
  .sidebar-visible {
    overflow: hidden;
    .sidebar-container {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
      @include translate3d(0, 0, 0);
    }
    .sidebar-layout-obfuscator {
      opacity: 1;
      visibility: visible;
    }
  }
}

.no-csstransforms3d {
  .sidebar-container {
    margin-left: -$sidebar-wd;
    @media #{$min-desktop} {
      margin-left: 0;
    }
  }
  @media #{$max-desktop} {
    .sidebar-visible {
      .sidebar-container {
        margin-left: 0;
      }
    }
  }
}
