.image-upload-field {
  max-height: 150px;
  max-width: 150px;
}
.avatar-uploader,
.avatar-uploader-trigger,
.avatar-uploader-spinner,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader .anticon {
  display: table-cell;
  vertical-align: middle;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
.avatar-uploader-spinner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.preview-canvas {
  max-width: 150px;
  padding: 5px;
  border-radius: 15px;
  display: none;
}
.preview-canvas-show {
  display: block;
}
