
.details-header {
  margin-bottom: 0;
  cursor: pointer;
}

.details-header small {
  vertical-align: middle;
  border-radius: 0px;
}

.panel-heading {
  padding: 7px 15px;
}

.panel-heading.active {
  background-color: #fff;
}