.attachment {
  iframe:before {
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  }
  iframe {
    width: 100%;
  }
}
.posts-container {
  margin-top: 10px;
  .post {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4f5256;
    border: 1px solid rgba(0,0,0,.12);
    margin-top: 10px;
    .post-content {
      padding: 8px;
    }
    .post-heading {
      padding: 16px;
      display: flex;
      margin: 0;
      .media {
        overflow: hidden;
        zoom: 1;
        margin: 0;
        .creator-image {
          display: table-cell;
          vertical-align: top;
          padding-right: 10px;
          a > img {
            width: 48px!important;
            height: 48px!important;
            border-radius: 50%;
          }
        }
        .creator-title {
          padding-top: 4px!important;
          vertical-align: middle;
          display: table-cell;
        }
      }
      .post-action-menu {
        position: absolute;
        right: 15px;
      }
    }
    .post-actions {
      padding: 16px;
      border-top: 1px solid hsla(0,0%,64%,.12);
      button {
        margin-right: 10px;
      }
    }
  }
  .no-posts {
    text-align: center;
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 25px;
    }
  }
}
