@import 'styles/Variables';
@import 'styles/Mixins';

.oc-theme {
  &.default {
    background-color: $header-bg;
    color: #fff;
  }
  &.bdazzled_blue {
    background-color: #235789;
    color: #fff;
  }
  &.coquelicot {
    background-color: #E53D00;
    color: #fff;
  }
  &.wine_dregs {
    background-color: #672A4E;
    color: #fff;
  }
  &.gun_metal {
    background-color: #2E2E3A;
    color: #fff;
  }
  &.radical_red {
    background-color: #FF3366;
    color: #fff;
  }
  &.maximum_blue_green {
    background-color: #2EC4B6;
    color: #fff;
  }
  &.deep_safron {
    background-color: #FFA630;
    color: #fff;
  }
  &.golden_gate {
    background-color: #C1292E;
    color: #fff;
  }
  &.regi_black {
    background-color: #000004;
    color: #fff;
  }
  &.pride {
    color: #fff;
    background-size: 100% 100%;
    background-image: linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -o-linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -moz-linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -webkit-linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -ms-linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.00,rgba(77,20,140,1)),
        color-stop(0.18,rgba(77,20,140,1)),
        color-stop(0.18,rgba(27,119,205,1)),
        color-stop(0.33,rgba(27,119,205,1)),
        color-stop(0.33,rgba(54,160,48,1)),
        color-stop(0.50,rgba(54,160,48,1)),
        color-stop(0.50,rgba(255,210,0,1)),
        color-stop(0.66,rgba(255,210,0,1)),
        color-stop(0.66,rgba(255,160,0,1)),
        color-stop(0.83,rgba(255,160,0,1)),
        color-stop(0.83,rgba(207,15,15,1)),
        color-stop(1.00,rgba(207,15,15,1))
    );
  }
}

.oc-header {
  position: fixed;
  right:0;
  left:0;
  height: $header-hg;
  box-shadow: $header-shadow;
  text-align: center;
  z-index: 2;
}
.oc-header-dropdown {
  @media #{$max-mobile} {
    position: fixed;
    min-height: 100vh;
    top: 50px;
    left: 0;
    right: 0;
  }
  @media #{$min-tablet} {
    margin-top: 5px;
    border-radius: 5px;
  }
  .section-title {
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
    font-weight: 500;
    padding: 3px 7px 0px;
    display: block;
    width: 100%;
  }
  .section-link {
    text-transform: uppercase;
    color: white;
    font-weight: 500px;
    padding: 3px 7px;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.25s;
    border-top: 1px solid rgba(255,255,255,0.2);
    &:hover {
      background-color: rgba(0,0,0,0.4);
    }
    .oc-header-overlay {
      background-color: rgba(0,0,0,0.4);
      border-radius: 5px;
    }
  }
  .options-list {
    border-top: 1px solid rgba(255,255,255,0.2);
    .option {
      a {
        padding: 3px 7px;
        display: block;
        color: white;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: background-color 0.25s;
        img {
          border-radius: 7px;
          margin-right: 5px;
        }
        &:hover {
          background-color: rgba(0,0,0,0.4);
        }
      }
    }
  }
}
.oc-header-bucket {
    background: rgba(0,0,0,0.4);
    height: 35px;
    min-width: 250px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    line-height: 26px;
    margin-top: 7.5px;
    display: inline-block;
    vertical-align: top;
    transition: background-color 0.25s;
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,0.6);
    }
    i {
      line-height: 24px;
    }
}
.oc-header-img {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin: 7.5px;
  height: 32px;
  background: transparent url('/logo-white.png') no-repeat left 85%;
  background-size: 100px;
  &.context {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
  }
  transition: background-color 0.3s, width 0.3s;
}
.oc-header-icon {
  .oc-header-icon-img {
    display: block;
    width: 32px;
    height: 32px;
    transition: background-image 0.2s ease-in-out;
  }
}
.oc-header-link {
  display: inline-block;
  color: #fff;
  padding: 0px 15px;
  &.active, &:hover {
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,0.9);
  }
}
.oc-header-logo {
  @include vcenter;
  svg {
    @include vcenter;
    max-width: 128px;
  }
}
.oc-header-context {
  float: left;
  height: $header-hg;
  margin-left: 20px;
  &.right {
    float: right;
    margin-right: 20px;
  }
}
.oc-header-usermenu {
  line-height: $header-hg;
}
.oc-header-userimage {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-left: 5px;
}
.notification-table {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  overflow-y: scroll;
  display: block;
  background: #fff;
  .ant-menu-vertical {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 42px;
    height: auto;
  }
  @media #{$min-desktop} {
    background: white;
    border: 1px solid #eee;
    border-radius: 1px;
    min-width: 350px;
    max-width: 100%;
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .header {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      h4 {
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
    .footer {
      width: 100%;
      text-align: center;
      padding-top: 2px;
      padding-bottom: 2px;
      font-weight: 500;
    }
  }
}
.notifications-toggle {
  vertical-align: top !important;
  display: inline-block;
  height: 50px;
  padding: 0px 15px;
  padding-top: 10px;
  cursor: pointer;
  &:hover {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.4);
  }
  sup {
    top: 0px;
  }
}
