@import 'styles/Variables';
@import 'styles/Mixins';

.oc-header {
  position: relative;
  background-color: $header-bg;
  height: $header-hg;
  box-shadow: $header-shadow;
  text-align: center;
  z-index: 2;
}
.oc-header-logo {
  @include vcenter;
  svg {
    @include vcenter;
    max-width: 128px;
  }
}
.oc-header-context {
  float: right;
  height: $header-hg;
  margin-right: 20px;
}
.oc-header-usermenu {
  line-height: $header-hg;
}
.oc-header-userimage {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.notification-table {
  background: white;
  border: 1px solid #eee;
  border-radius: 1px;
  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .footer {
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
  }
}
.notifications-toggle {
  margin-right: 15px;
}
