@import 'styles/Variables';

.oc-sidebar {
  width: $sidebar-wd;
  background-color: $sidebar-bg;
  height: 100%;
  color: #fff;
}
.oc-sidebar-profile {
  padding: 30px 20px;
  text-align: center;
}
.oc-sidebar-profile--img {
  border-radius: 5px;
}
.thumb64 {
  width: 64px;
  height: 64px;
}
.oc-sidebar-menu {
  width: $sidebar-wd;
}
.oc-sidebar-clubimage {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
