
$header-color: #1976d2;

.open > .menu-btn.btn-default,
.btn-group > .menu-btn {
  color: #6c7177;
  padding: 12px 12px 10px 12px;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  margin: 0;

  &:hover, &:focus {
    background-color: #f5f5f5;
    border-bottom: 2px solid;
    border-color: #f5f5f5;
    color: #6c7177;
    z-index: 0;
  }
}

.open > .menu-btn.btn-default {
  background-color: #f5f5f5;
  border-bottom: 2px solid;
  border-color: #f5f5f5;
}

// overrides 1px enlarging issue with bootstrap buttons
.btn-group .btn+.btn {
  margin-left: 0px;
}

.btn-group > .menu-btn-active {
  color: $header-color;
  border-bottom: 2px solid;
  border-color: $header-color;

  &:hover, &:focus {
    color: $header-color;
    background-color: #fff;
    border-bottom: 2px solid;
    border-color: $header-color;
  }
}

.menu-btn-inner {
  margin-top: 6px;
}
