.theme-option {
  margin: 3px;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
    box-shadow: 2px black;
  }
  &.selected {
    transform: scale(1.3);
    box-shadow: 2px black;
  }
}
