@import './Variables';

// theming overrides
body {
  font-family: $font-family;
  font-size: $font-size-base;
}

.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-item,
.ant-menu-item {
  font-size: 14px;
}

.ant-alert {
  font-size: 14px;
}
