@import './Variables';

// theming overrides
body {
  font-family: $font-family;
  font-size: $font-size-base;
}

.max-form {
  @media #{$min-desktop} {
    max-width: $screen-xs-min;
  }
}

.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-item,
.ant-menu-item {
  font-size: 14px;
}

.ant-radio-wrapper {
  font-size: 13px;
  font-weight: 400;
}

.ant-alert {
  font-size: 14px;
}

.bottom-gap {
  margin-bottom: 15px;
}

.bottom-gap-large {
  margin-bottom: 25px;
}

.oc-form {
  // max-width: 600px;
}
.ant-table {
  font-size: 14px;
  i {
    font-size: 16px;
  }
}
