.club-card-cover, .club-card-profile {
  img {
    display: block;
    width: 100%;
  }
}
.club-card-cover {
  background-positon: 'center center';
  background-size: 100%;
  display: block;
}
.club-card-cover:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.club-card-profile {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border: 2px solid white;
}
.club-card-content {
  padding: 10px 16px;
}
.club-card-content p {
  color: #999;
}
