.club-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px;
}
.club-card-square {
  min-width: 72px;
  width: 72px;
  height: 72px;
  order: 1;
  overflow: hidden;
  display: block;
  img {
    height: 100%;
  }
}
.club-card-details {
  margin: 2px 2px 2px 8px;
  order: 2;
  flex-grow: 2;
  h5 {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  p {
    margin: 0;
    font-size: 13px;
  }
}
.club-card-buttons {
  order: 2;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
