
$header-color: #1976d2;

.menu-bar {
	background-color: white;
	border-bottom: 1px solid #dbdbdb;
}

.menu-btn {
  
  color: #6c7177;
  padding: 12px 12px;
  margin-left: 0 !important;

	&:hover {
    background-color: #f5f5f5;
    color: #6c7177;
    z-index: 0 !important;
	}

  &:focus {
    color: #6c7177;
  }
}

.menu-btn-active {
  color: #fff;
  background-color: $header-color;

  &:hover {
    color: #fff;
    background-color: $header-color;
  }

  &:focus {
    color: #fff;
  }
}

.menu-btn-inner {
  margin-top: 6px;
}